.signup_form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > .email_wrapper,
  & > .pw_wrapper {
    display: flex;
    flex-direction: column;

    & > label {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgb(94, 94, 94);
    }

    & > input {
      padding: 8px;
      border: 1px solid rgb(187, 187, 187);
      outline: none;
      border-radius: 8px;
      &:focus {
        outline: none;
        border-color: #2979ff;
      }
    }
  }

  & > .btn_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      border: none;
      border-radius: 8px;
      font-size: 1.1rem;
      color: white;
      background-color: #2979ff;
      cursor: pointer;
    }
    .link {
      background-color: inherit;
      color: #2979ff;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
