@import "../variable.scss";

.todo_list {
  box-shadow: $box_shadow;
  padding: $box_padding;
  border-radius: $border_radius;
  width: $box_width;
  display: flex;
  flex-direction: column;
  gap: $box_gap;

  & > .todo_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
