.todo_form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > input,
  & > textarea {
    padding: 8px;
    border: 1px solid rgb(187, 187, 187);
    outline: none;
    border-radius: 8px;
    &:focus {
      outline: none;
      border-color: #2979ff;
    }
  }
  & > textarea {
    resize: none;
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    background-color: #2979ff;
    cursor: pointer;
  }
}
