$label_color: rgb(94, 94, 94);
$input_border_color: rgb(187, 187, 187);

$common_variable: (
  "accent_color": #2979ff,
);

$shadow_box_variable: (
  "box_shadow": rgba(0, 0, 0, 0.35) 0px 5px 15px,
  "border_radius": 10px,
  "padding": 30px,
  "gap": 10px,
  "width": 350px,
  "subject_color": map-get($common_variable, "accent_color"),
);
