$label_color: rgb(94, 94, 94);
$input_border_color: rgb(187, 187, 187);

$common_variable: (
  "accent_color": #2979ff,
  "white": white,
);

$shadow_box_variable: (
  "box_shadow": rgba(0, 0, 0, 0.35) 0px 5px 15px,
  "border_radius": 10px,
  "padding": 30px,
  "gap": 10px,
  "width": 350px,
  "subject_color": map-get($common_variable, "accent_color"),
);

$auth_form_variable: (
  "label_color": rgb(94, 94, 94),
  "label_font_size": 1.25rem,
  "label_font_weight": bolder,
  "input_padding": 8px 12px,
  "input_border": 2px solid #ddd,
  "input_outline": none,
  "submit_bg_color": map-get($common_variable, "accent_color"),
  "submit_color": map-get($common_variable, "white"),
  "submit_padding": 6px,
);
