@import "../variable.scss";

.shadow_box {
  width: map-get($shadow_box, "width");
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: map-get($shadow_box, "box_shadow");
  border-radius: 10px;
  padding: 30px;

  & > .subject {
    font-size: 1.8rem;
    color: map-get($common, "accent_color");
  }
}
