@import "../variable.scss";

.auth {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  & > .auth_input {
    & > label {
      font-size: 1.5rem;
    }
    & > input {
      border: 2px solid #ddd;
      width: 100%;
      padding: 14px;
      outline: none;
      transition: 0.3s border;
      letter-spacing: 1px;
      font-size: 1.1rem;

      &:focus {
        border-color: map-get($common, "accent_color");
      }
    }
  }

  & > .btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > button {
      font-size: 1.25rem;
      border: none;
      &[type="submit"] {
        background-color: map-get($common, "accent_color");
        color: map-get($common, "white");
        padding: 8px;
        border-radius: 8px;
        transition: 0.3s background-color;

        &:hover {
          background-color: map-get($common, "accent_hover_color");
        }

        &:disabled {
          background-color: #ddd;
          cursor: no-drop;
        }
      }
      &[type="button"] {
        color: map-get($common, "accent_color");
        background-color: inherit;
        font-weight: 600;
        transition: 0.3s color;

        &:hover {
          color: map-get($common, "accent_hover_color");
        }
      }
    }
  }
}
